/*main body styling*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  }

/*Coming Soon*/
body, html {
    height: 98%;
  }

.bgimg {
    background-image: url('https://images.unsplash.com/photo-1604440977038-c68f4cf71a34?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
  
/* Position text in the bottom-left corner */
.bottommiddle{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 14px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  
hr{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}